// Define colors here
$navbartext-gradient: linear-gradient(90deg, #d34e4e, #ce7e5a);
$navbartext-shadow: 0 2px 6px rgba(0,0,0,0.15);

$body-background-color: #f5f5f5;
$text-color-paragraph: #444;
$headers-color: #d34e4e;
$button-color: #d34e4e;
$text-light-grey: #e6e4e4;
$hover-color: #d30606;
