<% unless current_page?(home_path) || current_page?(root_path) || current_page?(new_user_session_path) || current_page?(new_user_registration_path) || current_page?(new_user_password_path) || current_page?(user_password_path) %>
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">

      <div class="navbar-brand-container">
        <% if content_for?(:navbar_text_label)%>
          <%= link_to content_for(:navbar_text_path), class: "navbar-brand" do %>
            <%=content_for(:navbar_text_label) %>
          <% end %>
        <% end %>
        <span class="navbar-separator">|</span>
        <span class="navbar-brand-secondary">Carbodata</span>
      </div>


      <div class="ms-auto d-flex gap-2">
        <% if current_page?(profile_path) %>
          <%= link_to destroy_user_session_path,
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to log out?" },
                  class: "navbar-brand" do %>
            <span class="bi bi-box-arrow-right"></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </nav>
<% end %>
