<% content_for :first_button_label, "My CarboPosts" %>
<% content_for :first_button_path, profile_path %>

<% content_for :second_button_label, "Add a CarboPost" %>
<% content_for :second_button_path, new_post_path %>

<% content_for :third_button_label, "" %>
<% content_for :third_button_path, %>

<% content_for :fourth_button_label, "" %>
<% content_for :fourth_button_path, "#" %>

<h1> This is my FEED </h1>
