<% content_for :first_button_label, "My CarboDucts" %>
<% content_for :first_button_path, items_path %>

<% content_for :second_button_label, "My CarboMeals" %>
<% content_for :second_button_path, recipes_path %>

<% content_for :third_button_label, "My CarboPosts" %>
<% content_for :third_button_path, posts_path %>

<% content_for :fourth_button_label, "Edit my profile" %>
<% content_for :fourth_button_path, edit_user_registration_path %>

<h1>This is my profile</h1>
