<% content_for :first_button_label, "Feed" %>
<% content_for :first_button_path, feed_path %>

<% content_for :second_button_label, "SuperCarbo" %>
<% content_for :second_button_path, new_chat_item_path %>

<% content_for :third_button_label, "Browse" %>
<% content_for :third_button_path, "#" %>

<% content_for :fourth_button_label, "Edit my profile" %>
<% content_for :fourth_button_path, edit_user_registration_path %>

<h1>This is my profile</h1>
