.button-modal {
  position: fixed;
  bottom: 10vh;
  right: 20px;
  width: 56px;
  height: 56px;
  padding: 0;

  /* Styling for the icon inside the button */
  i {
    color: white;
    font-size: $font-size-2xl;
  }

  /* Optional hover effect */
  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  }
}
