.button-default {
  background: $navbartext-gradient;
  font-family: $button-font;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  &:hover {
    background: $navbartext-gradient;
    filter: brightness(1.1);
    transition: all ease 0.3s;
    color: white;
  }
}

.btn-outline-secondary {
  font-family: $button-font;
}
