.footer {
  position: fixed;
  bottom: 0;
  min-height: 8vh;
  min-width: 100%;
  z-index: 20;
  background-color: #ffffff;
}

.footer .foot-item {
  position: relative;
  display: flex;
  align-items: center;
}

.footer i {
 font-size: 2rem !important;
}

.footer .btn {
  color: $button-color;
  border: none;
}

.footer .btn:hover {
  color: #d30606;
}
