.offcanvas {
  &.offcanvas-bottom {
    top: auto;
    bottom: 0;
    height: auto;
    border-radius: 2rem 2rem 0 0;
    border: none;
    overflow-y: auto;
  }
}


.offcanvas-backdrop.show {
  opacity: 0.6;
  background-color: #000;
}
