$card-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
$border-color: #dee2e6;

.card-recipe-bis {
  margin-top: 10px;
  overflow: hidden;
  background: white;
  box-shadow: $card-shadow;
  position: relative;


  h5 {
    text-align: center;
    line-height: 1.4;
    min-height: 35px;
    overflow: hidden;
  }
}

.card-recipe-bis p.flex-grow-1 {
  overflow: hidden;
  margin-bottom: 1rem;
}


.div-button-recipe {
  margin-top: auto;
  text-align: center;
  padding: 8px 12px;
  border: 1px solid $border-color;
  border-radius: 0.25rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.4s ease !important;
  p {
    margin-bottom: 0;
  }

    &:hover {
    cursor: pointer;
    transition: all;
  }
}

.access-button-recipe {
  background-color: $button-secondary-color;
  color: #433;
  margin-bottom: 10px;
  font-family: $paragraph_font;

  &:hover {
      background-color: #e9ecef;
  }
}

.delete-button-recipe {
  background-color: $button-color;
  font-family: $paragraph_font;
  color: white;
  margin-bottom: 10px;

  &:hover {
      background-color: #f7c0c7;
  }
}

.card-recipe-bis {
  a.d-block {
    display: block;
    text-decoration: none;
  }
}

.card-recipe-bis h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-recette-bis .card-product-infos {
  padding: 16px;
}

.chats-container {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
