.p-default {
  color: $text-color-paragraph;
  font-family: $paragraph-font;
}
.p-default-delete {
  color: $button-color;
  font-family: $paragraph-font;
}

.h-default {
  font-family: $paragraph-font;
  color: black;
}
