.segment-control-bar {
    display: flex;
    width: 100%;
    margin-top: 15px;
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: 10px 10px;
    border-radius: 6px;
}

.segment-button {
    flex-grow: 1;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: #888;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    margin: 0 5px;
    border-radius: 6px;
    font-family: "Bruno Ace SC", sans-serif;
}

.segment-button.active {
    background-color: $button-color;
    color: white;
    border-bottom: none;
}

.segment-button:not(.active):hover {
    background-color: #f5f5f5;
}
