// 1️⃣ Config globale (variables, couleurs, fonts)
// ==========================
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// 2️⃣ Librairies externes
// ==========================
@import "bootstrap";
@import "font-awesome";

// 3️⃣ Composants réutilisables
// ==========================
@import "components/index"; // index.scss qui importe tous les composants

// 4️⃣ Styles spécifiques aux pages
// ==========================
@import "pages/index"; // index.scss qui importe tous les fichiers pages
